body {
font-family: sans-serif;
}

a{
color:#0559a2;
}

.content {
margin:0px 10px 0px 10px;
vertical-align:top;
width:610px;
}

.meeting {
padding:15px;
background-color:#CCFFCC;
margin:0px 0px 10px 0px;
}

.meeting h3{
/*MAA Section Meeting Fall 2008 */
margin: 0px 0px 0px 0px;
font-size:large;
font-weight:bold;
color:#009933;
}

.meeting li{
list-style-type:none;
padding:5px;
}

.event {
padding:15px;
/*border:#009933 solid 3px;*/
background-color:#FFCCFF;
margin:0px 0px 10px 0px;
}

.event h3{
/*MAA Section Meeting Fall 2008 */
margin: 0px 0px 0px 0px;
font-size:large;
font-weight:bold;
color:#660066;
}

.nationalmeeting {
padding:15px;
/*border:#009933 solid 3px;*/
background-color:#FFCCCC;
margin:0px 0px 10px 0px;
}

.nationalmeeting h3{
/*MAA Section Meeting Fall 2008 */
margin: 0px 0px 0px 0px;
font-size:large;
font-weight:bold;
color:#FF3333;
}

.menu {
color:#0559a2; 
text-align:center; 
background-color:#e4f4ff; 
width:170px;
}

.ends { 
border-bottom: 2px solid #FFFFFF; 
padding-bottom:10px;
padding-top:10px;
}

.ends a {
text-decoration:none;
color:#0559a2;
}

.buttons a {
text-decoration:none;
font-weight:bold;
color: #0559a2; 
border-bottom: 2px solid #FFFFFF; 
padding: 7px 0px 3px 0px;
display: block;
}

.buttons a:visited {
color: #0559a2;
}

.buttons a:hover {
text-decoration:none;
background-color: #0559a2;
color: #FFFFFF;
}

.ad {
padding:8px 8px 8px 8px;
color:#000000;
border:1px solid black;
}

.ad ul {
	margin-left:0px;
	padding-left:8px;
	}
	
.ad li {
	margin-bottom:5px;
	}
	
.speaker {
	padding:5px;
	 background-color:#66CC66;
	 border:solid #003333 1px;
	 margin-bottom:5px;
	}

td#bio {
	padding:10px;
	background-color:#CCFFCC;
	margin-bottom:5px;
	border:solid #003333 1px;
	}

.speakerheader {
	padding:5px;
	margin:0px 5px 5px 0px;
	}

.speakerheader h3 {
	font-weight:bold;
	margin:0px;
	padding:0px;
	}

.speakerbio {
	}
	
.speakerphoto {
	margin-right:5px;
	text-align:center;
	}
	
.speakerphoto img{
	border:1px #000000 solid;
	}
	
.speakerabstract {
	background-color:#FFFFFF;
	padding:10px;
	border:solid #003333 1px;
	margin-top:5px;
	}
	
.speakerabstract h3 {
	font-weight:bold;
	margin:0px 0px 5px 0px;
	padding:0px;
	}
	
.NewsContent {
	border-top: #000066 double 4px;
	padding-top: 5px;
	min-width: 180px;
	min-height: 220px;
	}
	
.NewsContent h3 {
	margin:0px;
	color:#000066;
	}
	
.NewsContent p {
	margin-top:8px;
		}
		
.NewsContent img {
	 border:1px solid black;
	 }

.NewsContent li {
	margin-bottom:10px;
	}
