/*Heading styles*/
h1 {
	font-size: 175%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
h2 {font-size: 110%; font-family:Arial, Helvetica, sans-serif; text-align:center}
h3 {font-size: 110%; font-family:Arial, Helvetica, sans-serif}
h4 {font-size: 100%; page-break-after:avoid; font-family:Arial, Helvetica, sans-serif;
}

/*Body styles*/
body {
	background: #EEEEEE; 
	color: navy;
	font-family:Arial, Helvetica, sans-serif;
}
a {text-decoration: none}
a:link {color:blue;}
a:visited {color:purple;}
a:hover {text-decoration: underline;}
a:active {}
a.main {color: blue;}
a.external {color: maroon;}

table {border-style: none; border-width: 0px}  
td {border-style: none; border-width: 0px}  
th {border-style: none; border-width: 0px; background: silver; font-weight: bold}  

/*Schedule environment*/
div.sched {
	margin:  0 auto;
	border-style: solid;
	border-color: rgb(200, 200, 000);
	background: rgb(250, 250, 200);
	border-width: 1px;
	padding-top: .3em;
	padding-bottom: .5em;
	padding-right: .8em;
	padding-left: .8em;
	min-width:  30em;
	max-width:  60em;
}

/*Tentative Schedule environment*/
div.tentative {
	margin:  0 auto;
	border-style: solid;
	border-color: rgb(200, 200, 180);
	background: rgb(250, 250, 250);
	border-width: 1px;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: .5em;
	padding-left: .5em;
	min-width:  30em;
	max-width:  50em;
}

/*Student info environment*/
div.student {
	margin:  0 auto;
	border-style: solid;
	border-color: rgb(200, 200, 000);
	background: rgb(250, 250, 200);
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: .3em;
	padding-right: .5em;
	padding-left: 2em;
	min-width:  30em;
	max-width:  50em;
}
/*Faculty info environment*/
div.faculty {
	margin:  0 auto;
	border-style: solid;
	border-color: rgb(180, 200, 180);
	background: rgb(220, 255, 220);
	border-width: 1px;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: .5em;
	padding-left: 1em;
	min-width:  30em;
	max-width:  50em;
}
/*main content*/
div.content {
	margin:  0 auto;
	width: 80%;
	padding:0 10%;
}
div.content p {
	min-width:  20em;
	max-width:  50em;
}

/* quotation environment */
div.quotation {
	margin:  0 auto;
	border-style: solid;
	border-color: rgb(000, 000, 100);
	background: rgb(000, 000, 200);
	border-width: 1px;
	padding: 0 .5em;
	max-width:  30em;
	color: white;
	text-align:left;
}

div.quotation a {text-decoration: none; color:#FFFF00;}
div.quotation a:visited {text-decoration: none; color:#66FF00}

p.foot {text-align: center}
div.contact {font-size: 115%}
