/*Body styles */
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#0000CC;
}

a {text-decoration: none}
a:link {color:0000AA;}
a:visited {color:purple;}
a:hover {text-decoration:underline;}
a:active {}
a.main {color: blue;}
a.external {color: maroon;}

/*Heading styles*/
h1 {
	font-size: 175%;
	color:#0060A0;
	font-family:Arial, Helvetica, sans-serif;
}

/*h2 is used for sections*/
h2 {
	font-size: 150%;
}

/*h3 is used for subsections*/
h3 {
	font-size: 150%;
	color:#7722A0;
}

/*h4 is used for theorems, examples, and similar elements*/
h4 {
	font-size: 125%;
	color:#555599;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	padding-top: 2px;
}

/* floats */
#content {
	float: left;
	padding: 0 40% 2% 1%;
}
#sidebar {
	float: right;
	width:  30%;
	margin: 0 5% 1% -35%;
}

#footer {
	clear: right;
}


/*Styles for table data*/
td {
	text-align: left; }
td.right {text-align:right;}

/*List style*/
ul {text-align:left;
}

ol {text-align:left;
}

/* Course info links */
#classnav {
	width:  12em;
	margin: 0 auto 0 0;
	font-size:12px;
}

#classnav ul, #classnav li {
	padding:0;
	margin:0;
	list-style:none;
}

#classnav li {
	float: none; 
}

#classnav a {
	display:block;
	padding:3px 3px; 
}

#classnav a:link {
	color:#FFFFFF;
}
#classnav a:visited {
	color:#FFFFFF;
}
#classnav a:hover {
	color:#FFFFFF;
	background-color:#FF9900;
	text-decoration:none;
}
#classnav a:active {
	color:#FFFFFF;
	background-color:#000099;
}

/* navigation links */
#navlinks {
	width:  18em;
	margin: 0 auto;
}

#navlinks ul, #navlinks li {
	padding:0;
	margin:0;
	list-style:none;
}

#navlinks li {
	float: left;
	border-right: 1px solid #094747;
}

#navlinks li.last {
	border-right: 0;
	background: #fff;
}

#navlinks a {
	display:block;
	padding:3px 10px;
}


#navlinks a:link,
#navlinks a:visited,
#navlinks a:hover,
#navlinks a:active {
	color: #0000FF;
	text-decoration: none;
}

#navlinks a.current{
	background:#047070;
}


/* container for floated elements */
.container {
	padding: 1em;
}

/* clearing of floated elements */
.clearfix:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/* Hides from IE-mac \*/
	* html .clearfix { height:1%;}
/* End hide from IE-mac */