#leftcol {
	DISPLAY: none
}
#bodytd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#bodycol {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px! important
}
.button {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.3em; BACKGROUND: #c4dae9 no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; TEXT-TRANSFORM: lowercase; WIDTH: 193px; COLOR: #505256; PADDING-TOP: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.button:hover {
	CURSOR: pointer; COLOR: #395073; BACKGROUND-COLOR: #e1ecf4
}
.button SPAN {
	DISPLAY: block; PADDING-LEFT: 30px; MIN-HEIGHT: 70px; BACKGROUND: url(/branding/images/buttonsmall_bottom.gif) no-repeat right bottom; MARGIN: 0px; WIDTH: 163px; PADDING-TOP: 1em; HEIGHT: 70px
}
.button SPAN SMALL {
	FONT-WEIGHT: normal
}
.content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.contentpart {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1em; BORDER-TOP: 0px; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 1em; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 1em; BORDER-BOTTOM: 0px
}
.contentpart IMG {
	CLEAR: none; FLOAT: right; MARGIN: 0px
}
.contentpart .contentsubpart {
	CLEAR: none; DISPLAY: block; FLOAT: right; WIDTH: 30%
}
TABLE {
	BORDER-BOTTOM-COLOR: #f6f8fb; WIDTH: 98%; BORDER-COLLAPSE: collapse
}
TD {
	CLEAR: none; PADDING-RIGHT: 4px; BORDER-TOP: #fff 3px solid; PADDING-LEFT: 4px; BACKGROUND: url(/branding/images/lightbluefadeout.gif) #f6f8fb repeat-y right top; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 74%; PADDING-TOP: 4px
}
THEAD TD {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; BACKGROUND: url(/branding/images/lesslightbluefadeout.gif) #dee4ee repeat-y right top; WIDTH: 100%; COLOR: #06348c; BORDER-BOTTOM: #e9edf4 1px solid
}
TD.headcol {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #ecf1f5; MARGIN-BOTTOM: 0.4em; BORDER-BOTTOM-COLOR: #f6f8fb; PADDING-BOTTOM: 4px; WIDTH: 24%; COLOR: #698ed1; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.contentpart#spotlight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(spotlight_background.gif); FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.contentpart#spotlight #spotlightgull {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(background_OOogulls.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.contentpart#spotlight P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.contentpart#spotlight H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.8em; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px; PADDING-TOP: 0px
}
.contentpart#spotlight .buttongroup {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1em 1em 0px 0px; PADDING-TOP: 0px
}
.contentpart#spotlight .buttongroup UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.contentpart#spotlight .buttongroup #buttonnativelang {
	BACKGROUND-IMAGE: url(buttonsmallnativelang_top.gif)
}
.contentpart#spotlight .buttongroup #buttonnew {
	BACKGROUND-IMAGE: url(buttonsmallnew_top.gif)
}
.contentpart#spotlight #buttondownload {
	MARGIN-TOP: 0.5em; FONT-SIZE: 1.4em; BACKGROUND: url(buttondownload_top.gif) #b9e06c no-repeat; FLOAT: left; MARGIN-LEFT: 4%; WIDTH: 250px; COLOR: #464d31
}
.contentpart#spotlight #buttondownload:hover {
	BACKGROUND-COLOR: #c7e094
}
.contentpart#spotlight #buttondownload SPAN {
	DISPLAY: block; PADDING-LEFT: 35px; MIN-HEIGHT: 85px; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: bottom; WIDTH: 215px; PADDING-TOP: 15px; HEIGHT: 85px
}
.contentpart#spotlight #buttondownload SUB {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: normal; FONT-SIZE: 0.6em
}
.contentpart#spotlight .graphicalpresentation {
	CLEAR: none; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 30%; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.contentpart#spotlight .graphicalpresentation H2 {
	FONT-SIZE: 1.2em
}
.contentpart#spotlight .graphicalpresentation IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px auto; PADDING-TOP: 0px
}
.contentpart#spotlight .ooocomponents {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #5684af 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(/branding/images/fadelightbluetowhitevertica.gif) #f6f8fb repeat-x right top; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.contentpart#spotlight .ooocomponentslist {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: right
}
.contentpart#spotlight .ooocomponentslist LI {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 2px; WIDTH: 3.8em; PADDING-TOP: 0px
}
.contentpart#spotlight .ooocomponentslist A {
	CLEAR: none; PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: no-repeat center top; FLOAT: right; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 3.7em; COLOR: #06348c; PADDING-TOP: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.contentpart#spotlight .ooocomponentslist A:hover {
	COLOR: #698ed1; BACKGROUND-COLOR: #fff
}
.contentpart#spotlight .ooocomponentslist .ooobase A {
	BACKGROUND-IMAGE: url(/branding/images/iconooobase.gif)
}
.contentpart#spotlight .ooocomponentslist .ooocalc A {
	BACKGROUND-IMAGE: url(/branding/images/iconooocalc.gif)
}
.contentpart#spotlight .ooocomponentslist .ooodraw A {
	BACKGROUND-IMAGE: url(/branding/images/iconooodraw.gif)
}
.contentpart#spotlight .ooocomponentslist .ooomath A {
	BACKGROUND-IMAGE: url(/branding/images/iconooomath.gif)
}
.contentpart#spotlight .ooocomponentslist .oooimpress A {
	BACKGROUND-IMAGE: url(/branding/images/iconooopres.gif)
}
.contentpart#spotlight .ooocomponentslist .ooowriter A {
	BACKGROUND-IMAGE: url(/branding/images/iconooowrit.gif)
}
.contentpart#news {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/branding/images/shadow.gif) #fff repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; WIDTH: 100%; COLOR: #444; PADDING-TOP: 2em
}
.contentpart#news .item {
	PADDING-RIGHT: 1%; PADDING-LEFT: 1%; PADDING-BOTTOM: 0.5%; WIDTH: 60%; PADDING-TOP: 0.5%
}
.contentpart#news .item H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #06348c; PADDING-TOP: 0px
}
.contentpart#news IMG {
	FLOAT: right
}
.contentpart#news #newsprimaryarticle {
	BACKGROUND: url(/branding/images/lightbluefadeout.gif) #f6f8fb repeat-y right top
}
