@page Acta1 {margin: 1.0in 1.25in 1.0in 1.25in; }
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	COLOR: #06348c
}
A:hover {
	COLOR: #698ed1
}
INPUT.inputtext {
	BORDER-RIGHT: #698ed1 1px solid; BORDER-TOP: #698ed1 1px solid; BACKGROUND: #f6f8fb; BORDER-LEFT: #698ed1 1px solid; BORDER-BOTTOM: #698ed1 1px solid
}
INPUT.inputtext:hover {
	BACKGROUND: #fff
}
.nonscreen {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 0px; PADDING-TOP: 0px; HEIGHT: 0px
}
.nomarginnopadding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.superscript {
	FONT-SIZE: 75%; VERTICAL-ALIGN: super; LINE-HEIGHT: 110%
}
.indent {
	MARGIN-LEFT: 0.25in
}
#banner {
	FLOAT: left; WIDTH: 100%; COLOR: #000; BORDER-TOP-STYLE: none; BACKGROUND-COLOR: #fff
}
#banner IMG {
	CLEAR: none; FLOAT: left; MARGIN: 0.5em
}
#login {
	CLEAR: none; FONT-SIZE: 0.9em; FLOAT: right; MARGIN: 0.5em; WIDTH: 50%; TEXT-ALIGN: right
}
#searchboxbanner {
	CLEAR: none; FONT-SIZE: 0.9em; FLOAT: right; MARGIN: 0.5em; WIDTH: 50%; TEXT-ALIGN: right
}
#login P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#searchboxbanner P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#toptabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #06348c; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#toptabs UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
#toptabs LI {
	FLOAT: left; COLOR: #fff
}
#toptabs A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 0.3em; COLOR: #fff; PADDING-TOP: 0.3em; TEXT-DECORATION: none
}
#toptabs A:hover {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 0.3em; COLOR: #fff; PADDING-TOP: 0.3em; TEXT-DECORATION: none
}
#toptabs A:hover {
	BACKGROUND: #fff; COLOR: #698ed1
}
#toptabs LI.th A {
	BACKGROUND: #fff; COLOR: #06348c
}
.tabs {
	MARGIN-TOP: 0px
}
.contentpart#contextualinformation {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; BACKGROUND: url(../images/shadow.gif) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 24px; TEXT-ALIGN: right
}
#breadcrumbs {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-LEFT: 0px; WIDTH: auto; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
#body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #000; PADDING-TOP: 0px
}
#main {
	BORDER-TOP: 0px; BACKGROUND: #fff; WIDTH: 100%; COLOR: #000
}
TABLE#main {
	BACKGROUND: #fff; COLOR: #000; BORDER-COLLAPSE: collapse
}
TD#leftcol {
	WIDTH: 10%
}
TD#communitynews {
	WIDTH: 20%
}
#bodytd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; COLOR: #000; PADDING-TOP: 5px
}
#bodycol {
	BACKGROUND: #fff; COLOR: #000
}
#navcolumn {
	MARGIN-RIGHT: 10px
}
.toolgroup {
	FONT-SIZE: 1.1em; BACKGROUND: #fff
}
.toolgroup .label {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../images/lesslightbluefadeout.gif); COLOR: #06348c; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #dee4ee
}
.toolgroup .body {
	BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px
}
#helptext {
	BACKGROUND-COLOR: #f6f8fb
}
#helptext .label {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: 90% 50%; BORDER-TOP: 0px; MARGIN-TOP: 1em; BACKGROUND-IMAGE: url(../images/icon_help_sml.gif); BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f0f0fb
}
#helptext .body {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#helplink {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#bodycol H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.5em; FONT-FAMILY: Tahoma, Verdana, Helvetica, Arial, sans-serif
}
#topmodule {
	MARGIN: -4px -4px 0px
}
#topmodule TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px
}
#navcolumn {
	MARGIN-RIGHT: -4px
}
#rightcol H3 {
	COLOR: #fff; BACKGROUND-COLOR: #036
}
#rightcol DIV.www {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#rightcol DIV.help {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#rightcol DIV.rightcollinks {
	BORDER-RIGHT: #036 1px solid; BORDER-TOP: #036 1px solid; BORDER-LEFT: #036 1px solid; BORDER-BOTTOM: #036 1px solid
}
#rightcol A {
	COLOR: #036; TEXT-DECORATION: none
}
.blue {
	COLOR: #fff; BACKGROUND-COLOR: #369; TEXT-ALIGN: center
}
.blue A {
	COLOR: #fff
}
HR {
	BORDER-RIGHT: #000080 1px solid; BORDER-TOP: #000080 1px solid; BORDER-LEFT: #000080 1px solid; BORDER-BOTTOM: #000080 1px solid
}
#rightcol DIV.help {
	FONT-SIZE: x-small; voice-family: inherit
}
#rightcol DIV.www {
	FONT-SIZE: x-small; voice-family: inherit
}
#rightcol DIV.www TH {
	FONT-SIZE: x-small; voice-family: inherit
}
#rightcol DIV.www TD {
	FONT-SIZE: x-small; voice-family: inherit
}
#rightcol DIV.www {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#rightcol DIV.help {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#rightcol .rightcollinks {
	PADDING-BOTTOM: 2px
}
#rightcol H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#quickdownload .body DIV {
	PADDING-LEFT: 2em
}
.blue {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.Acta1 {
	page: Acta1
}
.alt1 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
.alt3 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #cccccc
}
.graybold {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #cccccc
}
.alt4 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #99ccff
}
.alt2 {
	COLOR: #ffffff; BACKGROUND-COLOR: #00315a; TEXT-ALIGN: left
}
.darkblueleftmiddle {
	VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-COLOR: #00315a; TEXT-ALIGN: left
}
.?ntmidd {
	COLOR: #ffffff; BACKGROUND-COLOR: #00315a; TEXT-ALIGN: center
}
.darkbluebold {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #00315a; TEXT-ALIGN: left
}
.darkblueleft {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #00315a; TEXT-ALIGN: left
}
.alt5 {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; FONT-WEIGHT: bold; PADDING-BOTTOM: 3pt; COLOR: #333333; PADDING-TOP: 3pt; WHITE-SPACE: normal; TEXT-ALIGN: left
}
.alt6 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
.alt7 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.alt8 {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.alt8b {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
.bigboldleft {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.alt9 {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.alt9b {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
.tableF0 {
	BACKGROUND-COLOR: #f0f0f0
}
.alt10 {
	FONT-SIZE: 85%; TEXT-ALIGN: left
}
.alt12 {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-ALIGN: center
}
.blueboldcenter {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-ALIGN: center
}
.alt14 {
	TEXT-ALIGN: right
}
.textcenter {
	TEXT-ALIGN: center
}
.alt15 {
	TEXT-ALIGN: center
}
.boldcenter {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.fontwhite {
	COLOR: #ffffff
}
.fontwhite {
	COLOR: #ffffff
}
.fontwhitesmall {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: left
}
.fontredochre {
	COLOR: #cc3300; TEXT-ALIGN: left
}
.small {
	FONT-SIZE: 85%
}
.smaller {
	FONT-SIZE: 75%
}
.subp1em {
	TEXT-INDENT: 1em
}
.subp2em {
	TEXT-INDENT: 2em
}
.subp3em {
	TEXT-INDENT: 3em
}
.subp4em {
	TEXT-INDENT: 4em
}
.it_nav {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #000080
}
.liteblue {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #99ccff
}
.liteblue-back {
	BACKGROUND-COLOR: #99ccff
}
.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
P.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
TH.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
TD.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
DIV.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
LI.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
DD.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
DT.spaced {
	LINE-HEIGHT: 160%; FONT-STYLE: normal
}
P.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
TH.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
TD.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
DIV.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
LI.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
DD.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
DT.spaced13 {
	LINE-HEIGHT: 140%; FONT-STYLE: normal
}
.Header {
	FONT-WEIGHT: bold; FONT-SIZE: 105%
}
.app H3 {
	BACKGROUND-COLOR: #06348c
}
.app H3 A {
	COLOR: #ddd
}
.app H3 A:hover {
	COLOR: #fff
}
#footer {
	PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; WIDTH: 100%; COLOR: #777; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#footer .horizontalmenu {
	FONT-SIZE: 1.2em; PADDING-TOP: 10px
}
#footer LI {
	PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em
}
#sponsorsun {
	FLOAT: left; MARGIN: 0.5em 0.5em 20px
}
#sponsorcollabnet {
	FLOAT: right; MARGIN: 0.5em 0.5em 20px; VERTICAL-ALIGN: middle
}
