#header { padding: 0; }
#linkbar { padding: 0; }
#menu { margin: 0; padding: 0; } 
#more-menu ul { margin: 0; padding: 0; } 
#resources { margin: 0; padding: 0; } 
#resources h2 { padding: 0; font-weight: normal; }
#resources ul {  list-style: none; }








/* transparent */
#more li { background-color: transparent; }

/* shades of grey */
#resources a:link, #resources a:visited, #more li a { color:#5d5d5d; }
#linkbar { color: #dedede; }

/*--- hover effects ---*/
#more li a:hover, #more a:hover, #resources li a:hover, #resources li a:active { color:#DB0303; }









#header { line-height: .875em; }

/*--- font-family ---*/
#linkbar { font-family: Georgia, sans-serif; }
#resources li { font-family: Verdana, Arial, Helvetica, sans-serif; }


/*--- font-size ---*/
#resources li a { font-size: 10px; }
#resources li, #more li a { font-size: 11px; }
#resources h2, #blurb p, #toGallery { font-size: 12px; }


/*--- font-style ---*/
#resources i { font-style: italic; }


/* --- line-height --- */
#more li a { line-height: 13px; }


/*--- overflow --- */
#linkbar { overflow: visible; }
#resources h2 { overflow: hidden; }


/*--- text-indent ---*/
#more li a { text-indent: 0; }


/*--- white-space ---*/
#header { white-space: nowrap; }


/*---  overrides ---*/
#menu ul li { font: Arial, sans-serif 11px/18px; background-image: none; }







/*--- basicSprite ---*/
#linkbar li a, #more, #more ul li { background-image: url(/common/includes/alphabar/images/basicSprite.png); background-repeat: no-repeat; }
/*--- no background ---*/
#linkbar li, #more ul li a, #resources li, #resources { background-image: none; }


/*--- header ---*/
#header { z-index: 10000; white-space: nowrap; position:relative; margin: 0 auto; padding-top: 3px; text-align:left; min-height: 27px; min-width: 870px; background: url(/common/includes/alphabar/images/vSprite.gif) repeat-x 0 -60px; }
#linkbar { position: relative; top: 5px; width: 610px; margin: 0 auto; }
  #linkbar li { display:block; float:left; height:11px; margin:0; padding:0; }
    #linkbar li a { margin: 0; padding: 0; text-indent: -5000px; display: block; height: 100%; width: 100%; outline: none; }
    #linkbar a[title*="Home"] { background-position: 0px -192px; width: 46px; }
    #linkbar a[title*="Home"]:hover { background-position: 0px -204px; }
    #linkbar a[title*="Examples"] { background-position: -48px -192px; width: 80px; }
    #linkbar a[title*="Examples"]:hover { background-position: -48px -204px; }
    #linkbar a[title*="Freq"] { background-position: -190px -192px; width: 48px; }
    #linkbar a[title*="Freq"]:hover { background-position: -190px -204px; }
    #linkbar a[title*="About"] { background-position: -128px -192px; width: 62px; }
    #linkbar a[title*="About"]:hover { background-position: -128px -204px; }
    #linkbar a[title*="Blog"] { background-position: -238px -192px; width: 52px; }
    #linkbar a[title*="Blog"]:hover { background-position: -238px -204px; }
	#linkbar a[title*="Community"] { background-position: -291px -192px; width: 95px; }
	#linkbar a[title*="Community"]:hover { background-position: -291px -204px; }
    #linkbar a[title*="Widgets"] { background-position: -387px -192px; width: 98px; }
    #linkbar a[title*="Widgets"]:hover { background-position: -387px -204px; }
	#linkbar li#nMore { width:80px; overflow: hidden; }


/*-- more menu ---*/
#more { background-position: -484px -191px; width: 80px; text-indent: -5000px; overflow: hidden; height: 13px; position: relative; }
  #more:hover { overflow: visible; }
    #more:hover ul { display: block; }
  #more ul { display: none; position: absolute; background: url(/common/includes/alphabar/images/more-nav-menu.png) no-repeat scroll 0 0; height: 184px; width: 215px; top: -8px; left: -3px; padding-bottom: 8px; padding-top: 20px; }
    #more ul li { background-position: -572px -58px; float:none; line-height:13px; margin:10px 0 0 14px; overflow:visible; white-space:normal; width:180px !important; padding-left: 10px; }
    #more li a { background-image: none; text-indent: 0px; }
    #more li#bookmark{ /*margin-bottom: 20px;*/ }
	#more li#advertise, #advertise { margin-top: 15px; }

#linkbar li div#more-menu { background: url(/common/includes/alphabar/images/basicSprite.png) no-repeat -484px -192px; width: 215px; text-indent: -5000px; }  
  #linkbar li div#more-menu:hover, #linkbar li div#more-menu.hover { background:transparent url(/common/includes/alphabar/images/more-nav-menu.png) no-repeat scroll 0 -1px; height:290px; margin: -7px 0 0 -4px; position:absolute; text-indent:-5000px; width:235px; }
  #more-menu ul { margin-top: 22px; }
  #more-menu li { background: transparent url(/common/includes/alphabar/images/sq.gif) no-repeat scroll 0 5px !important; float:none; line-height:13px; margin:8px 0 0 16px; overflow:visible; white-space:normal; width:200px !important; padding-left: 10px; }
    #more-menu li a { background-image: none; text-indent: 0; font-family: Arial; font-size: 11px; line-height: 13px; color: #5D5D5D !important; cursor: pointer;  }
    #more-menu li a:hover { color: #DB0303 !important; }
  #more-menu li#home { margin-top: 22px;  }
  #more-menu li#professional { margin-top: 20px; }
  #more-menu li#partproject { margin-top: 21px; }
  #more-menu li#sponsorslink { margin-top: 22px; }
  #more-menu:hover ul { display: block; }


/*-- resources menu ---*/
#menu li { margin:0.65em 0; padding-left:1.5em; }
#resources { z-index: 100; position: absolute; right: 10px; top: -5px; width: 168px; height: 29px; }
  #resources:hover { background: url(/common/includes/alphabar/images/menuBack.png) no-repeat 0px 2px; height: 194px; }
  #resources h2 { position: relative; display: block; margin: 13px auto 8px; width: 143px; height: 10px; }
    #resources h2:before { content: ""; background: transparent url(/common/includes/alphabar/images/basicSprite.png) no-repeat -354px -169px; width: 143px; height: 10px; display: block; }
  #resources ul { display: none; margin: 0; padding: 0; height: 165px; list-style-type: none; }
    #resources ul li { height: 18px; margin: 0; }
  #resources:hover ul{ display: block; }
  #resources li:first-child, #resources li:first-child a { height: 32px; line-height: 32px; }
  #resources li:first-child { margin-bottom: 2px; }
  #resources li:last-child { margin-top: 15px; }


/* disable newbie link */
#more-menu #new-to a, #more-menu #new-to a:hover { color:#949494 !important; cursor:default !important; }