BODY {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(/images/bluebar.gif); MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: verdana, helvetica, sans-serif
}
BODY {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(/images/bluebar.gif); MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: verdana, helvetica, sans-serif
}
#l_content {
	FLOAT: left; WIDTH: 145px; HEIGHT: auto
}
#l_content A {
	BORDER-RIGHT: #006 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #006 1px solid; DISPLAY: block; FONT-SIZE: 11px; COLOR: white; TEXT-INDENT: 3px; LINE-HEIGHT: 16px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #006 1px solid; FONT-FAMILY: tahoma, geneva, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
#l_content A:hover {
	BORDER-RIGHT: #6cf 1px solid; BORDER-TOP: #6cf 1px solid; BORDER-BOTTOM: #6cf 1px solid
}
DIV.menu {
	FONT-SIZE: 10px; COLOR: #006; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menu:link {
	FONT-SIZE: 10px; COLOR: #006; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 10px; COLOR: #006; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.menu:active {
	FONT-SIZE: 10px; COLOR: #006; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 10px; COLOR: #006; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.quicklinks {
	MARGIN-TOP: 15px; FONT-SIZE: 10px; WIDTH: 125px; COLOR: #fff; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, helvetica, sans-serif; TEXT-ALIGN: right
}
.quicklinks A {
	FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: none
}
.quicklinks A:hover {
	FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: underline
}
