A:link {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000099; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffcc33; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000cc; TEXT-DECORATION: none
}
BODY {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(/cmp/cmpimages/background.gif) #ffffff no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Arial; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
TR {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
P {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
A {
	TEXT-DECORATION: none
}
UL {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial; LIST-STYLE-TYPE: disc
}
INPUT {
	FONT-SIZE: 10px
}
.small {
	FONT-SIZE: 11px
}
.small TD {
	FONT-SIZE: 12px
}
.small P {
	FONT-SIZE: 11px
}
.blue A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blue A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blue A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #999999; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.blue A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #999999; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.ucop A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.ucop A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.ucop A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.ucop A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.top A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; LINE-HEIGHT: 11px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.top A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; LINE-HEIGHT: 11px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.top A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 11px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.top A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 11px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.subtext {
	FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.quote {
	FONT-SIZE: 16px; COLOR: #666666; LINE-HEIGHT: 16px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 17px; FONT-FAMILY: Arial
}
.subtitle {
	FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial
}
