/* These styles are used for the contents of examples pages, 
 * and for showing the results pod with examples
 */

#examples .pod {
  width: 462px;
  padding: 12px 44px;
  margin: 0 12px 0;
}


#ex-header {
  width: 455px;
  padding: 4px 2px;
  border-bottom: 1px solid #bbb;
  font-size: 20px;
  line-height: 20px;
}

#ex-header .cat {
  color: #e5231a;
}

#ex-header .title {
  color: #a4a4a4;
  padding: 0 10px;
  background: transparent url(/images/ex-bar.png) no-repeat scroll;
}

.ex-section, 
.ex-link,
.ex-link:link,
.ex-link:visited {
  color: #db0303;
  text-align: left;
  font-size: 14px;
  padding-bottom: 3px;
  margin: 20px 0 4px;
  text-decoration: none;
}

.ex-link:hover {
  color: #d00;
}

.ex-caption {
  color: #888;
  font-size: 10px;
}

.example {
  display: block;
  position: relative;
  width: 420px;
  padding: 0;
  margin: 5px 0 14px;
  border: 1px solid transparent;
  outline: 0;
}

.example:hover {
  border: 1px solid #ffcb00;
}

.example > div {
  border: 1px solid #aaa;
  color: black;
  font: normal 12px/16px arial,sans-serif;
  padding: 1px 4px;
  vertical-align: middle;
}

.example .submit {
  background: transparent url('/images/equal_off.png') no-repeat scroll 0 0;
  border: 0 none;
  height: 0;
  width: 13px;
  font-size: 0;
  padding: 14px 0 0;
  margin: auto 0;
  position: absolute;
  right: 4px;
  top: 3px;
}

.example:hover .submit {
  background: transparent url('/images/redesign/_equal_button.gif') no-repeat scroll 0 0;
}


/* These styles are for the index */
.top-header .header {
  padding-bottom: 4px;
}


.top-header .header .ex {
  color: #b3b3b3;
  margin-left: 5px;
}

.ex-inline,
.ex-inline a.ex-link {
  margin-bottom: 0px;
  color: #888;
  font: 11px/15px arial, sans-serif;
}

.ex-link,
.ex-link:link,
.ex-link:visited {
  color: #db0303;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.index-pod .ex-section {
  padding: 4px 0 0;
}

.index-pod .ex-inline + .ex-section {
  border-top: 1px solid #ccc;
}

#col1 {
  width: 50%;
  padding-right: 35px;
  padding-bottom: 18px;
}

#col2 {
  width: 50%;
  padding-right: 50px;
  vertical-align: top;
  padding-bottom: 18px;
  position: relative;
}


.more-ex {
	bottom: 53px;
	color: #646464;
	font-family: Arial;
	font-size: 11px;
	height: 43px;
	position: absolute;
	top: auto;
}
.more-ex strong {
	font-weight: bold;
}
.more-ex a {
	color: #888;
}
.more-ex a:hover {
	color: #DB0303;
}