/* TEST code for eliminating extra top and bot  */
#calculate .top, #calculate .bot {display: none;}

em {
	font-style: italic;
}

span.wa {
	color: #949494 !important;
}

#menu ul li {
  padding-left: 12px;
}

#menu ul li a {
  font-size: 10px !important;
  font-family: Verdana;
}

/* CSS used on about.html, faqs.html, termsofuse.html, privacypolicy.html, timeline.html, and examples pages */
.main-pod {
 /* margin: -13px auto 20px auto; */
  padding: 0;
  text-align: left;
}

.main-pod .top {
  width: 576px;
  height: 20px;
  background: transparent url(/images/example-pod-top.png) no-repeat scroll 0 0;
}

.main-pod .top-header {
  height: 64px;
  background: transparent url(/images/main-pod-top.png) no-repeat scroll 0 0;
  position: relative;
}

.main-pod .mid {
  padding: 12px 40px;
  background: transparent url(/images/example-pod-mid.png) repeat-y scroll 0 0;
}

.main-pod .bot {
  height: 20px;
  background: transparent url(/images/example-pod-bot.png) no-repeat scroll 0 0;
  position: relative;
  width: 576px;
}

.main-pod .header {
  padding: 28px 0 0 40px;
  color: #db0303;
  font-size: 19px;
  line-height: 25px;
  font-family: georgia, arial, Helvetica, serif;
}
	  
h1 {
  color: #666;
  font-size: 14px;
  line-height: 14px;
  margin-top: 8px;
}

.q {
  font-weight: bold;
  color: #777;
}

.a {
  font-weight: normal;
  margin-bottom:10px;
  color: #777
}

#about .mid{
  padding: 4px 28px 0px;
}

#ex-main .mid {
  padding: 4px 48px 16px 38px;
}

.main-pod .nav {
  width: 160px;
  padding: 0 4px 7px 0;
  margin-top: 7px;
  float: left;
}

.main-pod .nav ul li {
  background: transparent url(/images/redchevron.gif) no-repeat scroll 0 5px;
  padding-left: 10px;
  margin: 6px 0;
}

.main-pod .nav a {
  color: #777;
  font-family: arial, sans-serif;
  font-size: 11px;
}

.main-pod .nav a:hover {
  color: #c66;
}

.main-pod .nav a.selected,
.main-pod .nav li.selected a {
  color: #db0303;
}
  

.main-pod .rule {
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0 none;
  float: left;
}

#about .rule {
  background: transparent url(/images/aboutNavRule.gif) no-repeat scroll 0 0;
  height: 225px;
}

#ex-main .rule {
  background: transparent url(/images/examplesNavRule.gif) no-repeat scroll 0 0;
  height: 550px;
}

.main-pod .text {
  float: left;
  width: 315px;
  padding: 14px 0 14px 20px;
  color: #777;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

#ex-main .text {
  width: 310px;
}

#faqs .text {
  float: none;
  padding: 4px 0;
}

#faqs .q, #faqs a {
  line-height: 18px;
}

#terms .pad {
  padding-top: 4px;
  width: 495px;
}

#privacy .pad {
  padding-top: 4px;
  width: 495px;
}

#terms p,  #privacy p,  #eula p  {
  font: 10px/14px Verdana, Arial, Helvetica, sans-serif;
  margin: 10px 0;
  color: black;
}

#terms p.hilight,  #privacy p.hilight,  #eula p.hilight  {
  color: #db0303;
}

#terms h1, #privacy h1, #aboutinfo h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#eula .text {
  float: none;
  width: 500px;
  padding: 8px 0;
  color: black;
}

#dltb {
  background: transparent url(/images/install-btn.gif) no-repeat scroll 0 0;
  width: 236px;
  height: 29px;
  margin: 20px auto 1px;
  cursor: pointer;
  padding: 0 4px 0 0; 
}

.main-pod .text p {
  color: #777;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0;
}

.main-pod .sub-header {
  padding: 7px 0 8px;
  color: #db0303;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.main-pod .sub-header span {
  color: #949494;
}


/* Extra Examples Styles specifically for examples index */
#col1 {
  width: 50%;
  padding-right: 40px;
}

#col2 {
  width: 50%;
  padding-right: 50px;
  vertical-align: top;
}
	  
#galad {
  display: block;
  background: transparent url(/images/example-gallery-img.jpg) no-repeat scroll 0 0;
  width: 548px;
  height: 106px;
  margin: 0 0 -10px 0;
  position: relative;
  left: -24px;
  top: -5px;
  padding: 0;
  outline: none;
}

#galad > div {
  margin-left: 300px;
  padding-top: 45px;
  width: 195px;
  font: 14px/16px arial,sans-serif;
  color: #db0303;
  cursor: pointer;
  outline: none;
}

#galad:hover > div {
  color: #db0303;
}

#tips {
  display: block;
  background: transparent url(/images/podSprite.png) no-repeat scroll -455px -407px;
  width: 49px;
  height: 14px;
  position: absolute;
  top: 26px;
  right: 99px;
  font: 10px arial;
  color: #db0303; 
  text-align: center;
  padding: 5px 0;
  outline: none;
}


/* replacements */
#ex-header {
  display: none;
  margin: 0;
  padding: 0;
  height: 1px;
}

#ex-main .text #ex-header + .ex-section {
  margin-top: 0;
}

.example {
  width: 310px;
}

.ex-inputfield {
  width: 295px;
  font-size: 12px;
  padding: 1px 0 2px;
}

.ex-caption {
  font-size: 11px;
}


/* TODO: move these to Tomcat if they work */
.example img {
  display: none;
  background: transparent url() no-repeat scroll 27px 11px;
  position: absolute;
  top: 3px;
  right: -203px;
}

.example:hover img {
  display: block;
} 
/*******************************************/


/* Other pages */

.not-found {
	background:url(/images/hSprite.png) repeat-y 0px 0;
	padding: 0;
	margin: 27px 0;
	width: 576px;
	font: 10px/14px Verdana,Arial,Helvetica,sans-serif;
	text-align: left;
}

.not-found .top, .not-found .bot {
  background: transparent url(/images/podSprite.png) no-repeat scroll 0 0;
  height: 16px;
  left: 0px;
  position: relative;
  width: 576px;
}

.not-found .top {
  background-position: 0px -113px;
  top: -16px;
}

.not-found .bot {
  bottom: -16px;
  background-position: 0px -130px;
}

.not-found p {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
  color: #919191; 
  padding: 0 25px;
}

.comingsoon {
  text-align: center;
}

.comingsoon .icon {
  vertical-align: middle;
}

.comingsoon .text {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #db0303;
  margin-left: 4px;
  vertical-align: middle;
}

#join #footer {
  text-align: center;
}

#join #feedback > hr.top, #join #feedback > hr.bot {
  background-image: url(/images/podSprite.png);
}


/* ========================================= */
/* Timeline Styles
/* ========================================= */
#timeline {
}
#timeline .mid {
	padding: 20px 15px;
}
#timeline .timeline-header {
	color: #DB0303;
	font-family: georgia, arial, Helvetica, serif;
	font-size: 20px;
	line-height: 19px;
	font-weight: normal;
	margin: 20px 30px 10px 30px;
}
#timeline .tagline {
	color: #888888;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 15px;
	line-height: 18px;
	margin: 10px 30px;
}
#timeline p {
	color: #3C3C3C;
	margin: 0px;
	padding: 0px;
	width: 400px;
	font: 12px/16px Georgia, "Times New Roman", Times, serif;
}
#timeline p em {
	font-style: italic;
	color: #3C3C3C;
}
#timeline h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	font-weight: bold;
	color: #333333;
	position:relative;
}
#timeline h1 em {
	font-style: italic;
	font-weight: bold;
	color: #333333;
}
#timeline h2 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 13px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	font-weight: bold;
	color: #333333;
}
#timeline .centerPodBackground {
	/*background-image: url(pod_background.gif);
	background-repeat: repeat-y;*/
	margin: 0 30px 25px 30px;
	/*padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 20px;*/
}
#timeline .rightColumn {
	background-image: url('/images/timeline/axis.gif');
	background-repeat: repeat-y;
	padding-left: 90px;
	margin-top: 45px;
}
#timeline .thumb {
	position: absolute;
	top: 0px;
	left: -85px;
}


#navpod {
	margin-top: 20px;
}

#navpod .top {         
        position: relative; 
}

#navpod ul {
  float:left;   
  list-style-type:none;
}                  

#navpod ul+ul {
  margin-left: 10px;
}

#navpod ul li {
  background: none;          
  padding-left: 0px;    
  font-size: 12px;  
  margin-top: 5px;  
}

#navpod ul li a {
	color: #DB0303;
	font-size: 11px !important;
}

#navpod ul li a:hover {
  color: #FE6518 !important;
}

#navpod h2 {
  color:#838383;
  font-size:12px;
  font-weight:bold;
  line-height:20px;
}
#navpod ul li span {
	color: #555;
	font-size: 13px !important;
}




/* ================================================ */
/* About Information Page
/* /about.html
/* ================================================ */
#ct_status, #ct_future, #ct_history {
	border-top: 1px solid #E6E6E6;
	margin-top: 18px;
	padding-top: 10px;
}

#aboutinfo .pad {
  padding-top: 4px;
  width: 495px;
}

#aboutinfo p {
  color: #777;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0;
}

#aboutinfo h1 {
  color: #DB0303;
  font-family: Arial;
}

#aboutinfo a {
	color: #777;
}

#aboutinfo a:hover {
	color: #DB0303;
}

#aboutinfo .expand {
	color: #DB0303;
	font-size: 11px;
	margin-left: 5px;
}
#aboutinfo .collapse {
	color: #DB0303;
	font-size: 10px;
}

#aboutinfo .expand:hover, #aboutinfo .collapse:hover {
	color: #FE6518;
}

#aboutinfo hr {
	color: #E6E6E6;
	height: 1px;
}
/* ================================================ */
/* End About Information Page
/* ================================================ */

/* ================================================ */
/* Frequently Asked Questions Page
/* /faqs.html
/* ================================================ */
#faqs h1 {
	border-top: 1px solid #E6E6E6;
	color: #DB0303;
	font-family: Arial;
	margin-top: 18px;
	padding-top: 18px;
}

#faqs h1:first-child {
	border-top: 0;
	margin-top: 8px;
	padding-top: 0;
}

#faqs h2 {
	color: #777;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 18px;
}

#faqs h2 em {
	font-weight: bold;
}

#faqs p {
	margin-top: 0;
}

#faqs .text {
	padding-top: 4px;
	width: 495px;
}

#faqs .expand, #faqs .collapse {
	color: #DB0303;
	cursor: pointer;
	font-size: 11px;
	margin-top: 15px;
}

#faqs .expand:hover, #faqs .collapse:hover {
	color: #FE8516;
	cursor: pointer;
}

#faqs a, #faqs em, #faqs em:hover {
	color: #777;
}

#faqs a:hover, #faqs a:hover em {
	color: #DB0303;
}

/*
#faqs .q {
	font-weight: bold;
	margin-bottom: 0;
}

#faqs .a {
	margin-bottom: 15px;
	margin-top: 0;
}
*/
/* ================================================ */
/* End Frequently Asked Questions Page
/* ================================================ */

.clear {
	clear: both;
	height: 0;
}

.hList {
}
	.hList > li {
		background-position: 0 2px;
		float: left;
		margin-left: 4px;
		padding-left: 5px;
	}
	.hList > li:first-child, .hList .first {
		background: none;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

#soundfaqs .hList {
	margin-bottom: 47px;
	margin-left: 10px;
	margin-top: 11px;
}
	#soundfaqs .hList > li {
		background-position: 0 2px;
		float: left;
		margin-left: 4px;
		padding-left: 5px;
	}
	#soundfaqs .hList > li:first-child, .hList .first {
		background: none;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

#soundfaqs {
	
}
#soundfaqs .pad {
	font-size: 12px;
	padding-top: 4px;
	width: 495px;
}

#soundfaqs h1 {
	color: #DB0303;
	margin-top: 10px;
}
#soundfaqs h2 {
	color: #333333;
	font-weight: bold;
}
#soundfaqs .frontpage h2 {
	color: #555555;
}
/*#soundfaqs h2.division {
	border-top: 1px solid #c0c0c0;
	margin-top: 15px;
	padding-top: 20px;
}*/
#soundfaqs p {
	color: #555555;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 16px;
}

#soundfaqs ul li {
	background: url(/images/basicSprite.png) no-repeat -570px -203px;
}
#soundfaqs a {
	color: #DB0303
}
#soundfaqs a:hover {
	color: #FE6518;
}
#soundfaqs .hList > li {
	background: none;
	padding-left: 20px;
}
#soundfaqs .steps li {
	list-style: decimal !important;
	margin: 15px 0 15px 30px;
	padding-left: 0;
}
#soundfaqs .sidebysideList {
	float: left;
}
#soundfaqs .sidebysideList li:first-child, #soundfaqs .sidebysideList li.first {
	background: none !important;
	padding-left: 0;
	margin-left: 0;
}
#soundfaqs .podCont {
	background: url(/images/podBG.gif) repeat-x bottom;
	width: 490px;
	border-top: 1px solid #ebebeb;
	padding: 14px 12px 12px 3px;
	overflow: hidden;
}
#soundfaqs .podCont ul li {
	background: transparent url(/images/graybullet.gif) no-repeat scroll 6px 50%;
	color: #555555;
	padding-left: 20px;
}
#soundfaqs .bottompodCont {
	background-image: none ;
	width: 490px;
	border-top: 1px solid #ebebeb;
	padding: 14px 0 0px 3px;
	overflow: hidden;
}
#soundfaqs .division {
	border-top: 1px solid #ebebeb;
	margin-top: 16px;
	padding: 14px 0 0px 3px;
}
#soundfaqs ol li {
	color: #555555;
	line-height: 16px;
}
#soundfaqs .smalltext {
	font-size: 11px;
}
#soundfaqs .back-to-top {
	background: transparent url(/images/back-to-top.gif) no-repeat scroll right 4px;
	color: #999999;
	width: 67px;
}
#soundfaqs .back-to-top a {
	color: #999999;
	font-size: 11px;
}
#soundfaqs .back-to-top a:hover {
	color: #DB0303;
}
#soundfaqs .back
{
	float: right;
	margin-right: 87px;
	margin-top: 2px;
}
