BODY {
	MARGIN: 0px auto; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #add2fc; TEXT-ALIGN: center
}
#curvecontents {
	BORDER-RIGHT: #666 1px dashed; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 30; BACKGROUND: url(/images/front/bg_5.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #666 1px dashed; WIDTH: 775px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 468px; TEXT-ALIGN: left
}
#other_contents {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 20; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 775px; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: center
}
#floatholder {
	BORDER-RIGHT: #666 1px dashed; MARGIN: 0px auto; BORDER-LEFT: #666 1px dashed; WIDTH: 775px; BACKGROUND-COLOR: #e0f0fc; TEXT-ALIGN: left
}
#menubox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px! important; Z-INDEX: 50; LEFT: 40px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,'MS Sans Serif',verdana, helvetica, sans-serif; POSITION: absolute; TOP: 110px
}
#headlines {
	FONT-SIZE: 11px; LEFT: 175px; WIDTH: 252px; COLOR: #330099; POSITION: absolute; TOP: 100px
}
#topright {
	FONT-SIZE: 11px; LEFT: 485px; WIDTH: 254px; COLOR: #330099; POSITION: absolute; TOP: 40px
}
#searchstuff {
	MARGIN: 0px 0px 8px; WIDTH: 190px
}
#toplinks {
	MARGIN: 0px
}
#otherlinks {
	MARGIN: 0px
}
#bottomone {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 20px
}
#bottomtwo {
	PADDING-RIGHT: 0px; BORDER-TOP: #999 1px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 20px
}
#pubs {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 50%; PADDING-TOP: 10px
}
#columns {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 38%; PADDING-TOP: 10px
}
#features {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 50%; PADDING-TOP: 10px
}
#nsf {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 38%; PADDING-TOP: 10px
}
#copyright {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; PADDING-BOTTOM: 10px; MARGIN: 20px 0px 3px; WIDTH: auto; COLOR: #ffcc66; TEXT-INDENT: 2em; PADDING-TOP: 10px; BACKGROUND-COLOR: #309
}
.bottombreak {
	CLEAR: all; PADDING-RIGHT: 0px; BORDER-TOP: #c00 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-RIGHT: #309 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #309 1px solid; PADDING-LEFT: 0px; Z-INDEX: 100; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #309 1px solid; WIDTH: 10em; PADDING-TOP: 0px; BORDER-BOTTOM: #309 1px solid; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #c6e0fd
}
LI {
	POSITION: relative
}
LI UL {
	DISPLAY: none; LEFT: 9.8em; WIDTH: 20em; POSITION: absolute; TOP: 0px
}
LI UL LI UL {
	DISPLAY: none; LEFT: 19.8em; WIDTH: 20em; POSITION: absolute; TOP: 0px
}
LI A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #309; PADDING-TOP: 3px; TEXT-DECORATION: none
}
 HTML UL {
	HEIGHT: 42%
}
 HTML UL LI {
	FLOAT: left
}
 HTML UL LI A {
	HEIGHT: 4%
}
LI:hover UL {
	DISPLAY: block
}
LI:hover UL UL {
	DISPLAY: none
}
LI:hover UL LI:hover UL {
	DISPLAY: block
}
LI:hover UL {
	DISPLAY: block
}
LI.over UL {
	DISPLAY: block
}
LI:hover UL UL {
	DISPLAY: none
}
LI.over UL UL {
	DISPLAY: none
}
LI:hover UL LI:hover UL {
	DISPLAY: block
}
LI UL LI.over UL {
	DISPLAY: block
}
SPAN.rarrow {
	FONT-SIZE: 0.8em; COLOR: #ff9900; MARGIN-RIGHT: 0px
}
#menubox A:visited {
	COLOR: #309; TEXT-DECORATION: none
}
#menubox A:hover {
	COLOR: #ff9900; BACKGROUND-COLOR: #9cf
}
#headlines P {
	MARGIN: 10px 0px
}
#headlines A {
	FONT-WEIGHT: normal; COLOR: #00f; TEXT-DECORATION: underline
}
#headlines A:visited {
	FONT-WEIGHT: normal; COLOR: #00f; TEXT-DECORATION: underline
}
#toplinks A {
	FONT-WEIGHT: bold; COLOR: #309; TEXT-DECORATION: none
}
#toplinks A:visited {
	FONT-WEIGHT: bold; COLOR: #309; TEXT-DECORATION: none
}
#otherlinks A {
	FONT-WEIGHT: bold; COLOR: #00f
}
#otherlinks A:visited {
	FONT-WEIGHT: bold; COLOR: #00f
}
#other_contents A:link {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-DECORATION: underline
}
#headlines A:hover {
	COLOR: #ff9900
}
#toplinks A:hover {
	COLOR: #ff9900
}
#otherlinks A:hover {
	COLOR: #ff9900
}
#other_contents A:hover {
	COLOR: #ff9900
}
A:hover {
	COLOR: #ff9900
}
.boldtext {
	FONT-WEIGHT: bold
}
.semispaced {
	FONT-SIZE: 0.9em; LINE-HEIGHT: 1.5em
}
.columntitle {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; FONT-FAMILY: arial, century gothic, geneva, verdana, helvetica, sans-serif
}
.columntitle_sm {
	FONT-SIZE: 0.9em; FONT-FAMILY: century gothic, geneva, verdana, arial, helvetica, sans-serif
}
.dottedoutline {
	BORDER-RIGHT: #333 1px dotted; BORDER-TOP: #333 1px dotted; BORDER-LEFT: #333 1px dotted; BORDER-BOTTOM: #333 1px dotted
}
.dashedoutline {
	BORDER-RIGHT: #333 1px dashed; BORDER-TOP: #333 1px dashed; BORDER-LEFT: #333 1px dashed; BORDER-BOTTOM: #333 1px dashed
}
.dashedtopoutline {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #333 1px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; PADDING-TOP: 0px
}
.bottombox {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; FONT-SIZE: 0.8em; Z-INDEX: 9; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #c6e0fd; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: -10px -10px 12px; COLOR: #f4f4f4; PADDING-TOP: 6px; BORDER-BOTTOM: #fff 4px ridge; FONT-FAMILY: georgia, "Trebuchet MS",times, "times new roman",serif; BACKGROUND-COLOR: #36c
}
H4 {
	FONT-WEIGHT: 900; FONT-SIZE: 1.2em; COLOR: #309; FONT-FAMILY: century gothic, geneva, verdana, arial, helvetica, sans-serif
}
FORM {
	MARGIN: 5px
}
FORM {
	FONT-FAMILY: monaco, Lucida Console, MS Gothic, Courier New, Courier, mono
}
INPUT {
	FONT-FAMILY: monaco, Lucida Console, MS Gothic, Courier New, Courier, mono
}
IMG.imgright {
	FLOAT: right; MARGIN: 2px 0px 10px 12px
}
IMG.imgleft {
	FLOAT: left; MARGIN: 2px 12px 10px 0px
}
IMG.imgcenter {
	MARGIN: 10px auto
}
UL.otherul {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: disc
}
UL.otherul LI {
	DISPLAY: block; LINE-HEIGHT: 1.5em; POSITION: static
}
UL.otherul LI A {
	POSITION: static
}
.small {
	FONT-SIZE: 0.8em
}
.smallred {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc3300; FONT-FAMILY: century gothic, geneva,arial, verdana,helvetica
}
.redmessage {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #cc3300
}
.redtext {
	COLOR: #cc3300
}
